blinker==1.4
certifi==2021.10.8
docopt==0.6.2
flatbuffers==2.0
google-pasta==0.2.0
libclang==12.0.0
pandas==1.2.1
protobuf==3.19.2
pyasn1==0.4.8
pyasn1-modules==0.2.7
tensorflow-estimator==2.7.0
tensorflow-macos==2.7.0
termcolor==1.1.0
yarg==0.1.9
nltk==3.6.7
